#hero-card-bg {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10%;
    width: 50%;
    height: 60%;
    z-index: 2;
}

#hero-card-top {
    position: absolute;
    width: 50%;
}

.hero-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 413px;
    margin: auto;
    box-shadow: 0 70px 63px -60px #494848;
    transform-style: preserve-3d;
    transition: transform .05s linear;

    .hero-card-thumb {
        background: url('../../assets/heroimage.png') no-repeat left;
        background-size: cover;
        height: 100%;
        width: 100%;
        border-radius: 15px;
        border-color: rgba(99, 105, 129, 0.35);
        border-width: 1px;
        &:after {
            background: inherit;
            content: '';
            display: block;
            position: absolute;
            left: -60px;
            top: 40px;
            width: 100%;
            height: 108%;
            z-index: -1;
            filter: blur(55px);
        }
    }

    .hero-card-title {
        position: absolute;
        left: -60px;
        transform: translateZ(80px);
    }

    .hero-card-des {
        position: absolute;
        bottom: 40px;
        transform: translateZ(35px);
        padding: 1rem;

        user-select: none; /* 禁止选择 */
        -webkit-user-select: none; /* 兼容 Safari */
        -moz-user-select: none; /* 兼容 Firefox */
        -ms-user-select: none; /* 兼容旧版 IE */
    }
}


#hero-card-bg-mobile {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.hero-card-mobile {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 200px;
    padding: 1rem;
    background: linear-gradient(
            135deg,
            rgba(255, 255, 255, 0.18),
            rgba(255, 255, 255, 0.06)
    );
    backdrop-filter: blur(9px) saturate(140%);
    -webkit-backdrop-filter: blur(9px) saturate(140%);

    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.25);

    box-shadow:
            0 70px 63px -60px rgba(0, 0, 0, 0.55),
            inset 0 1px 0 rgba(255, 255, 255, 0.25);

    overflow: hidden;
}
.hero-card-mobile::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
            120deg,
            rgba(255, 255, 255, 0.35),
            rgba(255, 255, 255, 0.05),
            rgba(255, 255, 255, 0.2)
    );

    opacity: 0.2;
    mix-blend-mode: overlay;

    pointer-events: none;
}

.violet-gradient {
    background: #FF7F50;
    background: linear-gradient(-90deg, #FF7F50 0%, rgba(60, 51, 80, 0) 100%);
    background: -webkit-linear-gradient(
            -90deg,
            #FF7F50 0%,
            rgba(60, 51, 80, 0) 100%
    );

}